# COGS 108 - Final Project

# Overview

  Fab5@#$%#%#@%$#$@%#$@%@%*&(&*^&!@#@#%#$%$%^$%^&%^---- Put something here guys !

# Names

- Carolyn Sanford
- Tuong Tang
- Danielle Zusman
- Thomas Dailey
- Jiaao Mo

# Group Members IDs

- A########
- A########
- A########
- A########
- A########

# Research Question

● Which majors are becoming most popular - country wide?

● What does major popularity say about the state of the economy?

● Do demographics play a role in major selection?

# Background and Prior Work

The datasets that consists of this project will be the types of varying majors that are offered in various schools in the United States from across a period of 1900s to present day along with majors in STEM which are shown in categories of race, sex and the level of the degree upon graduation. Alongside these datasets there are the number of employed and unemployed graduates and their major and the market for recent graduates based on major. Based on the datasets we found that STEM majors are becoming more of a focus on the majors by graduation and this growth has been shown in the recent years.

In comparison to projects that have already looked at similar datasets we noticed that the Hamilton Project released their findings as they looked at annual earnings over a career by degree and major as they took a dataset with a sample of 80 majors and compared their lifetime earnings. Alongside this they also took a distribution and earnings difference to associate which majors are culminating into higher margins based on percentile for the number of graduates in those majors and comparing these percentiles with different majors. They discovered that even the graduates in the highest earning majors will be out earned by some graduates in majors which on average would be more likely to earn less overall.

Overall our project consists of these datasets and we ask the questions of how majors are affected by gender and ethnicity alongside the majors that are becoming more offered and decided by universities across the United States. There are also ethical considerations that link to privacy of data and how we can assure that this data remains private. Lastly we do not pass judgement or measure the worth of a major based on our questions rather we are assessing how this data can help future and current graduates look at majors and find out any questions that might be related to the ones that are being asked and assessed in this project.

References (include links):

- 1) https://www.hamiltonproject.org/papers/major_decisions_what_graduates_earn_over_their_lifetimes https://nces.ed.gov/programs/coe/indicator_cta.asp
- 2)

# Hypothesis

  Students tend to pursue majors in STEM fields when the economy is struggling, and have more diversity of majors in times of economic prosperity, regardless of demographics.

# Ethics & Privacy

We are using datasets pulled from the National Center for Education Statistics (NCES). NCES is under the U.S. Department of Education (and a .gov site) all published government data is free for public use. We are relying on NCES/U.S.ED data collection standards to insure privacy. The non-NCES datasets have Creative Commons license allowing us to us it to share and adapt the data. None of the data we are looking at exposes personally identifiable information, so we have no privacy concerns. We are not passing any sort of judgement towards STEM vs Liberal Arts, we are just measuring the impact of economics on the enrollment of the two. At this point, we do not anticipate any issues with ethical concerns but we will remain vigilant to see if some arise. If they do, we will come up with a plan and implement it before presenting out findings.

# Dataset(s)

● Degrees granted from select years in 1970-2017:
https://nces.ed.gov/programs/digest/d18/tables/dt18_322.10.asp

● Degrees granted in stem fields broken down by race, sex, and level of degree: https://nces.ed.gov/programs/digest/d18/tables/dt18_318.45.asp

● This dataset offers number of employed & unemployed college grads, categorized by majors https://data.world/fivethirtyeight/college-majors

● Outcomes of Education Labor Market Outcomes for Recent Bachelor's Degree Completers https://data.world/nces/market-for-rec-college-grads

# Setup

In [4]:
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning

Bachelor's degrees conferred by postsecondary institutions, by field of study: Selected years, 1970-71 through 2016-17

In [16]:
data1 = pd.read_csv('data1.csv')
data1
data1.shape

(34, 19)

Labor Force Statistics from the Current Population Survey					
Original Data Value					
					
Series Id:	LNS14000000				
Seasonally Adjusted					
Series title:	(Seas) Unemployment Rate				
Labor force status:	Unemployment rate				
Type of data:	Percent or rate				
Age:	16 years and over				
Years:	1970 to 2019

In [17]:
data2 = pd.read_csv('data2.csv')
data2
data2.shape

(50, 13)

In [21]:
data3 = pd.read_csv('degrees-that-pay-back.csv')
data3

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"

In [22]:
data4 = pd.read_csv('salaries-by-college-type.csv')
data4

,School Name,School Type,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Massachusetts Institute of Technology (MIT),Engineering,"$72,200.00","$126,000.00","$76,800.00","$99,200.00","$168,000.00","$220,000.00"
1,California Institute of Technology (CIT),Engineering,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,Engineering,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"Polytechnic University of New York, Brooklyn",Engineering,"$62,400.00","$114,000.00","$66,800.00","$94,300.00","$143,000.00","$190,000.00"
4,Cooper Union,Engineering,"$62,200.00","$114,000.00",NaN,"$80,200.00","$142,000.00",NaN
5,Worcester Polytechnic Institute (WPI),Engineering,"$61,000.00","$114,000.00","$80,000.00","$91,200.00","$137,000.00","$180,000.00"
6,Carnegie Mellon University (CMU),Engineering,"$61,800.00","$111,000.00","$63,300.00","$80,100.00","$150,000.00","$209,000.00"
7,Rensselaer Polytechnic Institute (RPI),Engineering,"$61,100.00","$110,000.00","$71,600.00","$85,500.00","$140,000.00","$182,000.00"
8,Georgia Institute of Technology,Engineering,"$58,300.00","$106,000.00","$67,200.00","$85,200.00","$137,000.00","$183,000.00"
9,Colorado School of Mines,Engineering,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
10,Stevens Institute of Technology,Engineering,"$60,600.00","$105,000.00","$68,700.00","$81,900.00","$138,000.00","$185,000.00"
11,Illinois Institute of Technology (IIT),Engineering,"$56,000.00","$97,800.00","$56,100.00","$77,400.00","$121,000.00","$165,000.00"
12,Wentworth Institute of Technology,Engineering,"$53,000.00","$96,700.00","$55,200.00","$74,000.00","$117,000.00","$153,000.00"
13,Virginia Polytechnic Institute and State Unive...,Engineering,"$53,500.00","$95,400.00","$50,600.00","$71,400.00","$124,000.00","$163,000.00"
14,South Dakota School of Mines & Technology,Engineering,"$55,800.00","$93,400.00","$71,500.00","$81,900.00","$122,000.00","$147,000.00"
15,New Mexico Institute of Mining and Technology ...,Engineering,"$51,000.00","$93,400.00",NaN,"$67,400.00","$123,000.00",NaN
16,Rochester Institute of Technology (RIT),Engineering,"$48,900.00","$84,600.00","$45,000.00","$62,100.00","$112,000.00","$159,000.00"
17,Embry-Riddle Aeronautical University (ERAU),Engineering,"$52,700.00","$80,700.00","$49,800.00","$64,000.00","$106,000.00","$142,000.00"
18,Tennessee Technological University,Engineering,"$46,200.00","$80,000.00","$42,100.00","$62,600.00","$99,500.00","$121,000.00"
19,University of Illinois at Urbana-Champaign (UIUC),Party,"$52,900.00","$96,100.00","$48,200.00","$68,900.00","$132,000.00","$177,000.00"
20,"University of Maryland, College Park",Party,"$52,000.00","$95,000.00","$50,400.00","$68,300.00","$126,000.00","$166,000.00"
21,"University of California, Santa Barbara (UCSB)",Party,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
22,University of Texas (UT) - Austin,Party,"$49,700.00","$93,900.00","$50,100.00","$67,400.00","$129,000.00","$188,000.00"
23,State University of New York (SUNY) at Albany,Party,"$44,500.00","$92,200.00","$47,000.00","$63,100.00","$135,000.00","$209,000.00"
24,University of Florida (UF),Party,"$47,100.00","$87,900.00","$45,400.00","$62,900.00","$120,000.00","$172,000.00"
25,Louisiana State University (LSU),Party,"$46,900.00","$87,800.00","$43,700.00","$61,300.00","$120,000.00","$165,000.00"
26,University of Georgia (UGA),Party,"$44,100.00","$86,000.00","$43,100.00","$57,800.00","$118,000.00","$164,000.00"
27,Pennsylvania State University (PSU),Party,"$49,900.00","$85,700.00","$46,300.00","$62,000.00","$117,000.00","$160,000.00"
28,Arizona State University (ASU),Party,"$47,400.00","$84,100.00","$44,600.00","$60,700.00","$114,000.00","$163,000.00"
29,"Indiana University (IU), Bloomington",Party,"$46,300.00","$84,000.00","$43,600.00","$60,400.00","$119,000.00","$178,000.00"
...,...,...,...,...,...,...,...,...
239,University of Alabama at Birmingham (UAB),State,"$39,200.00","$70,100.00","$43,000.00","$53,400.00","$91,400.00","$125,000.00"
240,University of Memphis (U of M),State,"$41,400.00","$69,700.00","$36,100.00","$49,100.00","$93,500.00","$127,000.00"
241,Boise State University (BSU),State,"$40,800.00","$69,500.00","$37,400.00","$48,700.00","$87,500.00","$110,000.00"
242,Missouri State University (MSU),State,"$36,100.00","$69,500.00","$33,300.00","$46,900.00","$102,000.00","$134,000.00"
243,University of Wisconsin (UW) - La Crosse,State,"$42,200.00","$69,300.00","$37,500.00","$47,200.00","$93,100.00","$133,000.00"
244,Appalachian State University,State,"$40,400.00","$69,100.00","$37,200.00","$50,400.00","$90,800.00","$115,000.00"
245,Virginia Commonwealth University (VCU),State,"$42,000.00","$68,400.00","$37,400.00","$51,900.00","$100,000.00","$123,000.00"
246,University of Wisconsin (UW) - Stout,State,"$43,600.00","$68,300.00","$40,900.00","$50,600.00","$91,600.00","$136,000.00"
247,East Carolina University (ECU),State,"$40,200.00","$67,500.00","$38,400.00","$52,000.00","$98,700.00","$151,000.00"
248,Utah Valley State College,State,"$42,400.00","$67,100.00","$27,000.00","$44,100.00","$84,900.00","$110,000.00"
249,University of Missouri - St. Louis (UMSL),State,"$41,400.00","$67,100.00","$36,800.00","$49,600.00","$97,600.00","$144,000.00"
250,Western Carolina University,State,"$36,900.00","$66,600.00","$39,000.00","$49,500.00","$94,400.00","$133,000.00"
251,University of Wisconsin (UW) - Oshkosh,State,"$39,300.00","$66,400.00","$37,700.00","$49,700.00","$90,100.00","$138,000.00"
252,State University of New York (SUNY) at Fredonia,State,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
253,University of Missouri - Kansas City (UMKC),State,"$38,900.00","$65,800.00","$36,300.00","$48,100.00","$95,800.00","$124,000.00"
254,University of Wisconsin (UW) - Eau Claire,State,"$41,400.00","$64,800.00","$35,000.00","$47,300.00","$93,100.00","$125,000.00"
255,Ball State University (BSU),State,"$39,100.00","$64,500.00","$35,500.00","$48,200.00","$89,300.00","$128,000.00"
256,University of North Carolina at Wilmington (UNCW),State,"$37,500.00","$64,400.00","$32,100.00","$46,600.00","$97,100.00","$129,000.00"
257,University of Wisconsin (UW) - Stevens Point,State,"$39,800.00","$64,000.00","$38,400.00","$45,100.00","$95,400.00","$128,000.00"
258,University of Southern Maine,State,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
259,Arkansas State University (ASU),State,"$38,700.00","$63,300.00","$33,600.00","$45,300.00","$83,900.00","$118,000.00"
260,Kent State University,State,"$38,700.00","$62,600.00","$36,100.00","$45,800.00","$87,000.00","$124,000.00"
261,Tarleton State University (TSU),State,"$40,800.00","$62,400.00","$32,100.00","$47,400.00","$80,400.00","$126,000.00"
262,University of Wisconsin (UW) - Green Bay,State,"$35,800.00","$60,600.00","$35,500.00","$46,800.00","$81,800.00","$102,000.00"
263,Morehead State University,State,"$34,800.00","$60,600.00","$34,300.00","$46,500.00","$72,000.00","$91,300.00"
264,Austin Peay State University,State,"$37,700.00","$59,200.00","$32,200.00","$40,500.00","$73,900.00","$96,200.00"
265,Pittsburg State University,State,"$40,400.00","$58,200.00","$25,600.00","$46,000.00","$84,600.00","$117,000.00"
266,Southern Utah University,State,"$41,900.00","$56,500.00","$30,700.00","$39,700.00","$78,400.00","$116,000.00"
267,Montana State University - Billings,State,"$37,900.00","$50,600.00","$22,600.00","$31,800.00","$78,500.00","$98,900.00"
268,Black Hills State University,State,"$35,300.00","$43,900.00","$27,000.00","$32,200.00","$60,900.00","$87,600.00"

In [23]:
data4 = pd.read_csv('salaries-by-region.csv')
data4

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
5,Cal Poly San Luis Obispo,California,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"
6,University of California at Los Angeles (UCLA),California,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00"
7,"University of California, San Diego (UCSD)",California,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00"
8,Pomona College,California,"$48,600.00","$101,000.00",NaN,"$63,300.00","$161,000.00",NaN
9,University of Southern California (USC),California,"$54,800.00","$99,600.00","$49,700.00","$73,800.00","$140,000.00","$201,000.00"
10,"University of California, Davis",California,"$52,300.00","$99,600.00","$52,000.00","$71,600.00","$135,000.00","$202,000.00"
11,"University of California, Irvine (UCI)",California,"$48,300.00","$96,700.00","$47,800.00","$66,000.00","$123,000.00","$172,000.00"
12,San Jose State University (SJSU),California,"$53,500.00","$95,600.00","$50,700.00","$70,500.00","$122,000.00","$156,000.00"
13,"University of California, Santa Barbara (UCSB)",California,"$50,500.00","$95,000.00","$51,300.00","$71,200.00","$129,000.00","$173,000.00"
14,"California State University (CSU), Chico",California,"$47,400.00","$88,100.00","$46,800.00","$62,800.00","$122,000.00","$154,000.00"
15,"California State University, Fullerton (CSUF)",California,"$45,700.00","$87,000.00","$45,400.00","$62,500.00","$119,000.00","$158,000.00"
16,San Francisco State University (SFSU),California,"$47,300.00","$86,400.00","$45,100.00","$62,700.00","$114,000.00","$150,000.00"
17,San Diego State University (SDSU),California,"$46,200.00","$85,200.00","$45,500.00","$61,800.00","$116,000.00","$158,000.00"
18,"California State University, Long Beach (CSULB)",California,"$45,100.00","$84,700.00","$47,400.00","$62,500.00","$113,000.00","$154,000.00"
19,"California State University, East Bay (CSUEB)",California,"$49,200.00","$84,300.00","$46,000.00","$62,400.00","$115,000.00","$155,000.00"
20,"University of California, Santa Cruz (UCSC)",California,"$44,700.00","$84,100.00","$46,100.00","$62,000.00","$121,000.00","$165,000.00"
21,"California State University, Sacramento (CSUS)",California,"$47,800.00","$82,400.00","$42,900.00","$59,600.00","$111,000.00","$154,000.00"
22,"University of California, Riverside (UCR)",California,"$46,800.00","$81,300.00","$37,200.00","$59,900.00","$109,000.00","$134,000.00"
23,"California State University, Northridge (CSUN)",California,"$45,500.00","$80,400.00","$44,500.00","$57,800.00","$108,000.00","$153,000.00"
24,"California State University, Dominguez Hills (...",California,"$42,700.00","$72,100.00","$30,800.00","$47,000.00","$92,200.00","$132,000.00"
25,"California State University (CSU), Stanislaus",California,"$38,000.00","$71,400.00",NaN,"$50,500.00","$94,100.00",NaN
26,Humboldt State University,California,"$42,600.00","$71,300.00","$36,000.00","$56,300.00","$94,400.00","$117,000.00"
27,Thomas Aquinas College,California,"$41,500.00","$67,500.00",NaN,"$44,600.00","$93,100.00",NaN
28,Colorado School of Mines,Western,"$58,100.00","$106,000.00","$62,200.00","$87,900.00","$142,000.00","$201,000.00"
29,University of Colorado - Boulder (UCB),Western,"$47,100.00","$97,600.00","$51,600.00","$69,000.00","$128,000.00","$187,000.00"
...,...,...,...,...,...,...,...,...
290,Dowling College,Northeastern,"$41,100.00","$82,800.00","$46,500.00","$60,600.00","$117,000.00","$142,000.00"
291,University of Vermont (UVM),Northeastern,"$44,800.00","$82,700.00","$44,700.00","$58,000.00","$122,000.00","$194,000.00"
292,State University of New York (SUNY) at Buffalo,Northeastern,"$46,200.00","$81,700.00","$45,900.00","$61,400.00","$110,000.00","$147,000.00"
293,State University of New York (SUNY) at Geneseo,Northeastern,"$42,300.00","$81,300.00","$39,300.00","$47,600.00","$117,000.00","$173,000.00"
294,Fashion Institute of Technology,Northeastern,"$42,800.00","$81,000.00","$38,800.00","$60,500.00","$106,000.00","$138,000.00"
295,Philadelphia University,Northeastern,"$45,100.00","$80,300.00","$45,800.00","$61,900.00","$108,000.00","$141,000.00"
296,Ursinus College,Northeastern,"$42,100.00","$80,000.00","$35,600.00","$54,300.00","$100,000.00","$160,000.00"
297,Adelphi University,Northeastern,"$40,600.00","$79,200.00","$44,200.00","$54,800.00","$114,000.00","$160,000.00"
298,Juniata College,Northeastern,"$41,800.00","$78,900.00",NaN,"$67,200.00","$110,000.00",NaN
299,Fairleigh Dickinson University,Northeastern,"$45,700.00","$78,700.00","$40,200.00","$56,300.00","$112,000.00","$171,000.00"
300,University of New Hampshire (UNH),Northeastern,"$41,800.00","$78,300.00","$41,700.00","$56,400.00","$114,000.00","$147,000.00"
301,University of Massachusetts (UMass) - Boston,Northeastern,"$45,600.00","$78,200.00","$36,300.00","$53,800.00","$109,000.00","$151,000.00"
302,State University of New York (SUNY) at Oswego,Northeastern,"$38,000.00","$77,800.00","$40,400.00","$53,000.00","$115,000.00","$169,000.00"
303,University of Massachusetts (UMass) - Dartmouth,Northeastern,"$43,200.00","$77,700.00","$43,300.00","$56,200.00","$107,000.00","$132,000.00"
304,State University of New York (SUNY) at Oneonta,Northeastern,"$37,500.00","$76,700.00","$40,000.00","$54,300.00","$97,700.00","$155,000.00"
305,Quinnipiac University,Northeastern,"$43,000.00","$76,500.00","$47,900.00","$57,400.00","$117,000.00","$155,000.00"
306,State University of New York (SUNY) at Plattsb...,Northeastern,"$40,800.00","$76,200.00","$38,400.00","$54,100.00","$105,000.00","$136,000.00"
307,Sacred Heart University,Northeastern,"$46,000.00","$75,300.00","$39,700.00","$54,800.00","$105,000.00","$150,000.00"
308,Skidmore College,Northeastern,"$41,600.00","$74,600.00",NaN,"$42,800.00","$147,000.00",NaN
309,Moravian College,Northeastern,"$42,500.00","$74,400.00",NaN,"$56,700.00","$94,900.00",NaN
310,Penn State - Harrisburg,Northeastern,"$45,700.00","$74,000.00","$44,000.00","$53,100.00","$104,000.00","$150,000.00"
311,Suffolk University,Northeastern,"$42,100.00","$74,000.00","$48,700.00","$57,800.00","$95,100.00","$145,000.00"
312,Fitchburg State College,Northeastern,"$42,400.00","$72,600.00","$43,300.00","$56,100.00","$99,600.00","$151,000.00"
313,Roger Williams University,Northeastern,"$42,000.00","$72,300.00","$39,800.00","$48,500.00","$102,000.00","$138,000.00"
314,University Of Maine,Northeastern,"$41,200.00","$72,100.00","$41,700.00","$55,600.00","$99,300.00","$141,000.00"
315,State University of New York (SUNY) at Potsdam,Northeastern,"$38,000.00","$70,300.00","$35,100.00","$51,200.00","$100,000.00","$179,000.00"
316,Niagara University,Northeastern,"$36,900.00","$69,700.00","$44,000.00","$57,000.00","$92,000.00","$128,000.00"
317,State University of New York (SUNY) at Fredonia,Northeastern,"$37,800.00","$66,200.00","$32,800.00","$44,200.00","$93,300.00","$181,000.00"
318,University of Southern Maine,Northeastern,"$39,400.00","$63,600.00","$40,400.00","$47,900.00","$85,700.00","$117,000.00"
319,Mercy College,Northeastern,"$43,700.00","$62,600.00","$35,600.00","$47,300.00","$99,000.00","$134,000.00"