# COGS 108 - Final Project

# Overview

  Fab5@#$%#%#@%$#$@%#$@%@%*&(&*^&!@#@#%#$%$%^$%^&%^---- Put something here guys !

# Names

- Carolyn Sanford
- Tuong Tang
- Danielle Zusman
- Thomas Dailey
- Jiaao Mo

# Group Members IDs

- A########
- A########
- A########
- A########
- A########

# Research Question

● Which majors are becoming most popular - country wide?

● What does major popularity say about the state of the economy?

● Do demographics play a role in major selection?

# Background and Prior Work

The datasets that consists of this project will be the types of varying majors that are offered in various schools in the United States from across a period of 1900s to present day along with majors in STEM which are shown in categories of race, sex and the level of the degree upon graduation. Alongside these datasets there are the number of employed and unemployed graduates and their major and the market for recent graduates based on major. Based on the datasets we found that STEM majors are becoming more of a focus on the majors by graduation and this growth has been shown in the recent years.

In comparison to projects that have already looked at similar datasets we noticed that the Hamilton Project released their findings as they looked at annual earnings over a career by degree and major as they took a dataset with a sample of 80 majors and compared their lifetime earnings. Alongside this they also took a distribution and earnings difference to associate which majors are culminating into higher margins based on percentile for the number of graduates in those majors and comparing these percentiles with different majors. They discovered that even the graduates in the highest earning majors will be out earned by some graduates in majors which on average would be more likely to earn less overall.

Overall our project consists of these datasets and we ask the questions of how majors are affected by gender and ethnicity alongside the majors that are becoming more offered and decided by universities across the United States. There are also ethical considerations that link to privacy of data and how we can assure that this data remains private. Lastly we do not pass judgement or measure the worth of a major based on our questions rather we are assessing how this data can help future and current graduates look at majors and find out any questions that might be related to the ones that are being asked and assessed in this project.

References (include links):

- 1) https://www.hamiltonproject.org/papers/major_decisions_what_graduates_earn_over_their_lifetimes https://nces.ed.gov/programs/coe/indicator_cta.asp
- 2)

# Hypothesis

  Students tend to pursue majors in STEM fields when the economy is struggling, and have more diversity of majors in times of economic prosperity, regardless of demographics.

# Ethics & Privacy

We are using datasets pulled from the National Center for Education Statistics (NCES). NCES is under the U.S. Department of Education (and a .gov site) all published government data is free for public use. We are relying on NCES/U.S.ED data collection standards to insure privacy. The non-NCES datasets have Creative Commons license allowing us to us it to share and adapt the data. None of the data we are looking at exposes personally identifiable information, so we have no privacy concerns. We are not passing any sort of judgement towards STEM vs Liberal Arts, we are just measuring the impact of economics on the enrollment of the two. At this point, we do not anticipate any issues with ethical concerns but we will remain vigilant to see if some arise. If they do, we will come up with a plan and implement it before presenting out findings.

# Dataset(s)

● Degrees granted from select years in 1970-2017:
https://nces.ed.gov/programs/digest/d18/tables/dt18_322.10.asp

● Degrees granted in stem fields broken down by race, sex, and level of degree: https://nces.ed.gov/programs/digest/d18/tables/dt18_318.45.asp

● This dataset offers number of employed & unemployed college grads, categorized by majors https://data.world/fivethirtyeight/college-majors

● Outcomes of Education Labor Market Outcomes for Recent Bachelor's Degree Completers https://data.world/nces/market-for-rec-college-grads

# Setup

In [7]:
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning

Bachelor's degrees conferred by postsecondary institutions, by field of study: Selected years, 1970-71 through 2016-17

In [8]:
data1 = pd.read_csv('data1.csv')
data1

,Field of study,1970-71,1975-76,1980-81,1985-86,1990-91,1995-96,2000-01,2005-06,2006-07,2008-09,2009-10,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17
0,Total,"839,730","925,746","935,140","987,823","1,094,538","1,164,792","1,244,171","1,485,104","1,524,729","1,601,399","1,649,919","1,716,053","1,792,163","1,840,381","1,870,150","1,894,969","1,920,750","1,956,032"
1,Agriculture and natural resources,"12,672","19,402","21,886","16,823","13,124","21,425","23,370","23,052","23,144","24,982","26,343","28,630","30,972","33,592","35,125","36,278","36,995","37,719"
2,Architecture and related services,"5,570","9,146","9,455","9,119","9,781","8,352","8,480","9,515","9,717","10,119","10,051","9,831","9,727","9,757","9,149","9,090","8,825","8,573"
3,"Area, ethnic, cultural, gender, and group studies","2,579","3,577","2,887","3,021","4,776","5,633","6,160","7,878","8,196","8,772","8,620","8,955","9,228","8,850","8,275","7,783","7,840","7,720"
4,Biological and biomedical sciences,"35,705","54,154","43,078","38,395","39,482","61,014","60,576","70,602","76,809","82,828","86,391","89,984","95,850","100,397","104,657","109,904","113,794","116,759"
5,Business,"115,396","143,171","200,521","236,700","249,165","226,623","263,515","318,043","327,850","348,056","358,119","365,133","367,235","360,887","358,132","363,741","371,690","381,353"
6,"Communication, journalism, and related programs","10,324","20,045","29,428","41,666","51,650","47,320","58,013","73,658","74,800","77,984","81,280","83,231","83,771","84,818","87,612","90,658","92,551","93,778"
7,Communications technologies,478,"1,237","1,854","1,479","1,397",853,"1,178","2,987","3,642","5,100","4,782","4,858","4,983","4,987","4,991","5,135","4,824","4,615"
8,Computer and information sciences,"2,388","5,652","15,121","42,337","25,159","24,506","44,142","47,702","42,164","37,992","39,593","43,066","47,406","50,961","55,271","59,586","64,402","71,420"
9,Education,"176,307","154,437","108,074","87,147","110,807","105,384","105,458","107,235","105,683","101,716","101,287","104,008","105,656","104,698","98,838","91,596","87,221","85,118"
10,Engineering,"45,034","38,733","63,642","77,391","62,448","62,168","58,209","66,841","66,875","68,911","72,657","76,356","81,371","85,987","92,169","97,852","106,789","115,640"
11,Engineering technologies,"5,148","7,943","11,713","19,731","17,303","15,829","14,660","14,565","14,993","15,493","16,078","16,741","17,283","17,010","16,807","17,253","17,159","18,121"
12,English language and literature/letters,"63,914","41,452","31,922","34,083","51,064","49,928","50,569","55,094","55,125","55,465","53,229","52,754","53,765","52,401","50,464","45,851","42,797","41,317"
13,Family and consumer sciences/human sciences,"11,167","17,409","18,370","13,847","13,920","14,353","16,421","20,775","21,416","21,906","21,832","22,438","23,441","23,930","24,689","24,584","25,389","25,077"
14,"Foreign languages, literatures, and linguistics","20,988","17,068","11,638","11,550","13,937","14,832","16,128","19,393","20,278","21,169","21,507","21,705","21,756","21,647","20,332","19,493","18,436","17,642"
15,Health professions and related programs,"25,223","53,885","63,665","65,309","59,875","86,087","75,933","91,973","101,898","120,420","129,623","143,463","163,675","181,149","198,777","216,228","228,907","238,014"
16,"Homeland security, law enforcement, and\n fi...","2,045","12,507","13,707","12,704","16,806","24,810","25,211","35,319","39,216","41,788","43,613","47,600","54,091","60,264","62,416","62,723","61,159","59,581"
17,Legal professions and studies,545,531,776,"1,223","1,827","2,123","1,991","3,302","3,596","3,822","3,886","4,429","4,595","4,425","4,513","4,420","4,243","4,272"
18,"Liberal arts and sciences, general studies,\n ...","7,481","18,855","21,643","21,336","30,526","33,997","37,962","44,898","44,268","47,095","46,963","46,717","46,961","46,790","45,281","43,649","43,669","43,841"
19,Library science,"1,013",843,375,155,90,58,52,76,82,78,85,96,95,102,127,99,85,109
20,Mathematics and statistics,"24,801","15,984","11,078","16,122","14,393","12,713","11,171","14,760","14,958","15,507","16,029","17,182","18,841","20,449","20,987","21,854","22,778","24,073"
21,Military technologies and applied sciences,357,952,42,255,183,7,21,33,168,55,56,64,86,105,185,276,358,469
22,Multi/interdisciplinary studies,"6,324","13,709","12,986","13,754","17,774","26,885","26,478","30,583","32,118","35,376","37,717","42,473","45,717","47,658","48,392","47,556","48,833","49,658"
23,"Parks, recreation, leisure, and fitness studies","1,621","5,182","5,729","4,623","4,315","12,974","17,948","25,489","27,430","31,683","33,332","35,934","38,998","42,628","46,047","49,008","50,912","53,264"
24,Philosophy and religious studies,"8,149","8,447","6,776","6,396","7,423","7,541","8,717","11,980","11,973","12,448","12,503","12,830","12,645","12,792","11,999","11,071","10,155","9,712"
25,Physical sciences and science technologies,"21,410","21,458","23,936","21,711","16,334","19,716","18,025","20,521","21,295","22,691","23,381","24,705","26,664","28,053","29,307","30,042","30,483","31,268"
26,Precision production,0,0,0,2,2,12,31,55,23,29,29,43,37,36,37,48,51,32
27,Psychology,"38,187","50,278","41,068","40,628","58,655","73,416","73,645","88,132","90,073","94,273","97,215","100,906","109,099","114,446","117,312","117,573","117,447","116,861"
28,Public administration and social services,"5,466","15,440","16,707","11,887","14,350","19,849","19,447","21,986","23,147","23,852","25,421","26,799","29,695","31,950","33,483","34,364","34,433","35,464"
29,Social sciences and history,"155,324","126,396","100,513","93,840","125,107","126,479","128,036","161,468","164,229","168,517","172,782","177,169","178,534","177,767","173,132","166,971","161,211","159,099"
30,Theology and religious vocations,"3,720","5,490","5,808","5,510","4,799","5,292","6,945","8,548","8,696","8,940","8,719","9,073","9,304","9,385","9,642","9,713","9,804","9,491"
31,Transportation and materials moving,0,225,263,"1,838","2,622","3,561","3,748","5,349","5,657","5,189","4,998","4,941","4,876","4,661","4,588","4,730","4,531","4,710"
32,Visual and performing arts,"30,394","42,138","40,479","37,241","42,186","49,296","61,148","83,292","85,210","89,143","91,798","93,939","95,806","97,799","97,414","95,840","92,979","91,262"
33,Not classified by field of study,0,0,0,0,"13,258","1,756",783,0,0,0,0,0,0,0,0,0,0,0

Labor Force Statistics from the Current Population Survey					
Original Data Value					
					
Series Id:	LNS14000000				
Seasonally Adjusted					
Series title:	(Seas) Unemployment Rate				
Labor force status:	Unemployment rate				
Type of data:	Percent or rate				
Age:	16 years and over				
Years:	1970 to 2019

In [9]:
data2 = pd.read_csv('data2.csv')
data2

    Year   Jan   Feb   Mar   Apr   May   Jun  Jul  Aug   Sep   Oct   Nov   Dec
0   1970   3.9   4.2   4.4   4.6   4.8   4.9  5.0  5.1   5.4   5.5   5.9   6.1
1   1971   5.9   5.9   6.0   5.9   5.9   5.9  6.0  6.1   6.0   5.8   6.0   6.0
2   1972   5.8   5.7   5.8   5.7   5.7   5.7  5.6  5.6   5.5   5.6   5.3   5.2
3   1973   4.9   5.0   4.9   5.0   4.9   4.9  4.8  4.8   4.8   4.6   4.8   4.9
4   1974   5.1   5.2   5.1   5.1   5.1   5.4  5.5  5.5   5.9   6.0   6.6   7.2
5   1975   8.1   8.1   8.6   8.8   9.0   8.8  8.6  8.4   8.4   8.4   8.3   8.2
6   1976   7.9   7.7   7.6   7.7   7.4   7.6  7.8  7.8   7.6   7.7   7.8   7.8
7   1977   7.5   7.6   7.4   7.2   7.0   7.2  6.9  7.0   6.8   6.8   6.8   6.4
8   1978   6.4   6.3   6.3   6.1   6.0   5.9  6.2  5.9   6.0   5.8   5.9   6.0
9   1979   5.9   5.9   5.8   5.8   5.6   5.7  5.7  6.0   5.9   6.0   5.9   6.0
10  1980   6.3   6.3   6.3   6.9   7.5   7.6  7.8  7.7   7.5   7.5   7.5   7.2
11  1981   7.5   7.4   7.4   7.2   7.5   7.5  7.2  7.4   7.6   7.9   8.3   8.5
12  1982   8.6   8.9   9.0   9.3   9.4   9.6  9.8  9.8  10.1  10.4  10.8  10.8
13  1983  10.4  10.4  10.3  10.2  10.1  10.1  9.4  9.5   9.2   8.8   8.5   8.3
14  1984   8.0   7.8   7.8   7.7   7.4   7.2  7.5  7.5   7.3   7.4   7.2   7.3
15  1985   7.3   7.2   7.2   7.3   7.2   7.4  7.4  7.1   7.1   7.1   7.0   7.0
16  1986   6.7   7.2   7.2   7.1   7.2   7.2  7.0  6.9   7.0   7.0   6.9   6.6
17  1987   6.6   6.6   6.6   6.3   6.3   6.2  6.1  6.0   5.9   6.0   5.8   5.7
18  1988   5.7   5.7   5.7   5.4   5.6   5.4  5.4  5.6   5.4   5.4   5.3   5.3
19  1989   5.4   5.2   5.0   5.2   5.2   5.3  5.2  5.2   5.3   5.3   5.4   5.4
20  1990   5.4   5.3   5.2   5.4   5.4   5.2  5.5  5.7   5.9   5.9   6.2   6.3
21  1991   6.4   6.6   6.8   6.7   6.9   6.9  6.8  6.9   6.9   7.0   7.0   7.3
22  1992   7.3   7.4   7.4   7.4   7.6   7.8  7.7  7.6   7.6   7.3   7.4   7.4
23  1993   7.3   7.1   7.0   7.1   7.1   7.0  6.9  6.8   6.7   6.8   6.6   6.5
24  1994   6.6   6.6   6.5   6.4   6.1   6.1  6.1  6.0   5.9   5.8   5.6   5.5
25  1995   5.6   5.4   5.4   5.8   5.6   5.6  5.7  5.7   5.6   5.5   5.6   5.6
26  1996   5.6   5.5   5.5   5.6   5.6   5.3  5.5  5.1   5.2   5.2   5.4   5.4
27  1997   5.3   5.2   5.2   5.1   4.9   5.0  4.9  4.8   4.9   4.7   4.6   4.7
28  1998   4.6   4.6   4.7   4.3   4.4   4.5  4.5  4.5   4.6   4.5   4.4   4.4
29  1999   4.3   4.4   4.2   4.3   4.2   4.3  4.3  4.2   4.2   4.1   4.1   4.0
30  2000   4.0   4.1   4.0   3.8   4.0   4.0  4.0  4.1   3.9   3.9   3.9   3.9
31  2001   4.2   4.2   4.3   4.4   4.3   4.5  4.6  4.9   5.0   5.3   5.5   5.7
32  2002   5.7   5.7   5.7   5.9   5.8   5.8  5.8  5.7   5.7   5.7   5.9   6.0
33  2003   5.8   5.9   5.9   6.0   6.1   6.3  6.2  6.1   6.1   6.0   5.8   5.7
34  2004   5.7   5.6   5.8   5.6   5.6   5.6  5.5  5.4   5.4   5.5   5.4   5.4
35  2005   5.3   5.4   5.2   5.2   5.1   5.0  5.0  4.9   5.0   5.0   5.0   4.9
36  2006   4.7   4.8   4.7   4.7   4.6   4.6  4.7  4.7   4.5   4.4   4.5   4.4
37  2007   4.6   4.5   4.4   4.5   4.4   4.6  4.7  4.6   4.7   4.7   4.7   5.0
38  2008   5.0   4.9   5.1   5.0   5.4   5.6  5.8  6.1   6.1   6.5   6.8   7.3
39  2009   7.8   8.3   8.7   9.0   9.4   9.5  9.5  9.6   9.8  10.0   9.9   9.9
40  2010   9.8   9.8   9.9   9.9   9.6   9.4  9.4  9.5   9.5   9.4   9.8   9.3
41  2011   9.1   9.0   9.0   9.1   9.0   9.1  9.0  9.0   9.0   8.8   8.6   8.5
42  2012   8.3   8.3   8.2   8.2   8.2   8.2  8.2  8.1   7.8   7.8   7.7   7.9
43  2013   8.0   7.7   7.5   7.6   7.5   7.5  7.3  7.2   7.2   7.2   6.9   6.7
44  2014   6.6   6.7   6.7   6.2   6.3   6.1  6.2  6.1   5.9   5.7   5.8   5.6
45  2015   5.7   5.5   5.4   5.4   5.6   5.3  5.2  5.1   5.0   5.0   5.1   5.0
46  2016   4.9   4.9   5.0   5.0   4.8   4.9  4.8  4.9   5.0   4.9   4.7   4.7
47  2017   4.7   4.7   4.4   4.4   4.4   4.3  4.3  4.4   4.2   4.1   4.2   4.1
48  2018   4.1   4.1   4.0   3.9   3.8   4.0  3.9  3.8   3.7   3.8   3.7   3.9
49  2019   4.0   3.8   3.8   3.6   3.6   3.7  3.7  3.7   3.5   3.6   NaN   NaN

In [10]:
data3 = pd.read_csv('degrees-that-pay-back.csv')
data3

,Undergraduate Major,Starting Median Salary,Mid-Career Median Salary,Percent change from Starting to Mid-Career Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Accounting,"$46,000.00","$77,100.00",67.6,"$42,200.00","$56,100.00","$108,000.00","$152,000.00"
1,Aerospace Engineering,"$57,700.00","$101,000.00",75.0,"$64,300.00","$82,100.00","$127,000.00","$161,000.00"
2,Agriculture,"$42,600.00","$71,900.00",68.8,"$36,300.00","$52,100.00","$96,300.00","$150,000.00"
3,Anthropology,"$36,800.00","$61,500.00",67.1,"$33,800.00","$45,500.00","$89,300.00","$138,000.00"
4,Architecture,"$41,600.00","$76,800.00",84.6,"$50,600.00","$62,200.00","$97,000.00","$136,000.00"
5,Art History,"$35,800.00","$64,900.00",81.3,"$28,800.00","$42,200.00","$87,400.00","$125,000.00"
6,Biology,"$38,800.00","$64,800.00",67.0,"$36,900.00","$47,400.00","$94,500.00","$135,000.00"
7,Business Management,"$43,000.00","$72,100.00",67.7,"$38,800.00","$51,500.00","$102,000.00","$147,000.00"
8,Chemical Engineering,"$63,200.00","$107,000.00",69.3,"$71,900.00","$87,300.00","$143,000.00","$194,000.00"
9,Chemistry,"$42,600.00","$79,900.00",87.6,"$45,300.00","$60,700.00","$108,000.00","$148,000.00"
10,Civil Engineering,"$53,900.00","$90,500.00",67.9,"$63,400.00","$75,100.00","$115,000.00","$148,000.00"
11,Communications,"$38,100.00","$70,000.00",83.7,"$37,500.00","$49,700.00","$98,800.00","$143,000.00"
12,Computer Engineering,"$61,400.00","$105,000.00",71.0,"$66,100.00","$84,100.00","$135,000.00","$162,000.00"
13,Computer Science,"$55,900.00","$95,500.00",70.8,"$56,000.00","$74,900.00","$122,000.00","$154,000.00"
14,Construction,"$53,700.00","$88,900.00",65.5,"$56,300.00","$68,100.00","$118,000.00","$171,000.00"
15,Criminal Justice,"$35,000.00","$56,300.00",60.9,"$32,200.00","$41,600.00","$80,700.00","$107,000.00"
16,Drama,"$35,900.00","$56,900.00",58.5,"$36,700.00","$41,300.00","$79,100.00","$153,000.00"
17,Economics,"$50,100.00","$98,600.00",96.8,"$50,600.00","$70,600.00","$145,000.00","$210,000.00"
18,Education,"$34,900.00","$52,000.00",49.0,"$29,300.00","$37,900.00","$73,400.00","$102,000.00"
19,Electrical Engineering,"$60,900.00","$103,000.00",69.1,"$69,300.00","$83,800.00","$130,000.00","$168,000.00"
20,English,"$38,000.00","$64,700.00",70.3,"$33,400.00","$44,800.00","$93,200.00","$133,000.00"
21,Film,"$37,900.00","$68,500.00",80.7,"$33,900.00","$45,500.00","$100,000.00","$136,000.00"
22,Finance,"$47,900.00","$88,300.00",84.3,"$47,200.00","$62,100.00","$128,000.00","$195,000.00"
23,Forestry,"$39,100.00","$62,600.00",60.1,"$41,000.00","$49,300.00","$78,200.00","$111,000.00"
24,Geography,"$41,200.00","$65,500.00",59.0,"$40,000.00","$50,000.00","$90,800.00","$132,000.00"
25,Geology,"$43,500.00","$79,500.00",82.8,"$45,000.00","$59,600.00","$101,000.00","$156,000.00"
26,Graphic Design,"$35,700.00","$59,800.00",67.5,"$36,000.00","$45,500.00","$80,800.00","$112,000.00"
27,Health Care Administration,"$38,800.00","$60,600.00",56.2,"$34,600.00","$45,600.00","$78,800.00","$101,000.00"
28,History,"$39,200.00","$71,000.00",81.1,"$37,000.00","$49,200.00","$103,000.00","$149,000.00"
29,Hospitality & Tourism,"$37,800.00","$57,500.00",52.1,"$35,500.00","$43,600.00","$81,900.00","$124,000.00"
30,Industrial Engineering,"$57,700.00","$94,700.00",64.1,"$57,100.00","$72,300.00","$132,000.00","$173,000.00"
31,Information Technology (IT),"$49,100.00","$74,800.00",52.3,"$44,500.00","$56,700.00","$96,700.00","$129,000.00"
32,Interior Design,"$36,100.00","$53,200.00",47.4,"$35,700.00","$42,600.00","$72,500.00","$107,000.00"
33,International Relations,"$40,900.00","$80,900.00",97.8,"$38,200.00","$56,000.00","$111,000.00","$157,000.00"
34,Journalism,"$35,600.00","$66,700.00",87.4,"$38,400.00","$48,300.00","$97,700.00","$145,000.00"
35,Management Information Systems (MIS),"$49,200.00","$82,300.00",67.3,"$45,300.00","$60,500.00","$108,000.00","$146,000.00"
36,Marketing,"$40,800.00","$79,600.00",95.1,"$42,100.00","$55,600.00","$119,000.00","$175,000.00"
37,Math,"$45,400.00","$92,400.00",103.5,"$45,200.00","$64,200.00","$128,000.00","$183,000.00"
38,Mechanical Engineering,"$57,900.00","$93,600.00",61.7,"$63,700.00","$76,200.00","$120,000.00","$163,000.00"
39,Music,"$35,900.00","$55,000.00",53.2,"$26,700.00","$40,200.00","$88,000.00","$134,000.00"
40,Nursing,"$54,200.00","$67,000.00",23.6,"$47,600.00","$56,400.00","$80,900.00","$98,300.00"
41,Nutrition,"$39,900.00","$55,300.00",38.6,"$33,900.00","$44,500.00","$70,500.00","$99,200.00"
42,Philosophy,"$39,900.00","$81,200.00",103.5,"$35,500.00","$52,800.00","$127,000.00","$168,000.00"
43,Physician Assistant,"$74,300.00","$91,700.00",23.4,"$66,400.00","$75,200.00","$108,000.00","$124,000.00"
44,Physics,"$50,300.00","$97,300.00",93.4,"$56,000.00","$74,200.00","$132,000.00","$178,000.00"
45,Political Science,"$40,800.00","$78,200.00",91.7,"$41,200.00","$55,300.00","$114,000.00","$168,000.00"
46,Psychology,"$35,900.00","$60,400.00",68.2,"$31,600.00","$42,100.00","$87,500.00","$127,000.00"
47,Religion,"$34,100.00","$52,000.00",52.5,"$29,700.00","$36,500.00","$70,900.00","$96,400.00"
48,Sociology,"$36,500.00","$58,200.00",59.5,"$30,700.00","$40,400.00","$81,200.00","$118,000.00"
49,Spanish,"$34,000.00","$53,100.00",56.2,"$31,000.00","$40,000.00","$76,800.00","$96,400.00"